<div class="jumbotron">
    <h1 class="text-center">Welcome to Wordrick</h1>
    <h3 class="text-center">Profession Grade Book Writing Platform</h3>
</div>
<header id="masthead" class="site-header" role="banner">
</header>
    

