@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

.jumbotron {
   background-color: #0099cc;
   color: white;
   text-shadow: black 0.3em 0.3em 0.3em;
   margin-bottom: 0px;
   position:relative;
   width:100%;
   height:auto;

}

#masthead {
    background:url('/images/alphabet-15461_1920.jpg');
    width: 100%;
    
    
    
  
}

